* {
	font-family: Arial;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body {
	background-image: url('background.jpg');
	    background-size: cover;
		background-repeat: no-repeat;
}
header {
	width:100%;

}
header nav {
	width:90%;
	max-width:1300px;
	margin:20px auto;
	background: rgb(150,0,24,0.8);
}
.fixed-top {
	top: 5px;
	position: relative;
}

.navbar {
background: rgb(150,0,24,0.8);
}
.container {
    margin-left: 350px;
    width: 550px;
    margin-top: 50px;

}
.inputstl {
    width: 550px;
    padding: 9px;
    border: solid 1px #B3FFB3;
    outline: 0;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

    }

.btn-success {
	background-color: red;
	border-color: black;
}
h1 {

    padding-left: 190px;
}

.h1, h1 {
    font-size: 2.5rem;
    padding-top: 20px;
    display: block;
}

.error {
	color: red;
}
